<app-navbar></app-navbar>
<!-- Start -->
<section class="py-36 md:py-64 w-full table relative bg-orange-600/5 dark:bg-orange-600/10 bg-[url('assets/images/bg/lienzo1.png')] bg-center bg-cover" id="home">
    <div class="container relative">
        <div class="grid grid-cols-1 mt-12">
            <h4
                class="lg:text-5xl text-4xl lg:leading-normal leading-normal font-medium mb-7 position-relative dark:text-white">
                Procoljara <br> Tu empresa <br>de ingeniería </h4>

            <p class="text-slate-400 dark:text-white/70 mb-0 max-w-2xl text-lg">Alcanza tus retos sin obstaculos</p>

            
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<app-about></app-about>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-review></app-review>
<app-team></app-team>
<app-blog></app-blog>
<app-contactus></app-contactus>
<app-footer></app-footer>
